
 html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navbar {
  margin: 0;
}

.navbar-inverse {
  z-index: 10;
  -moz-box-shadow: 0px 1px 8px #000;
  -webkit-box-shadow: 0px 1px 8px #000;
  box-shadow: 0px 1px 8px #000;
}

.navbar-header, .btn-primary, .btn-success {
  font-family: 'Comfortaa', Arial, monospace;
}

.main-logo {
  font-size: 2em;
  margin: 10px 0 0;
}

.navbar-toggle {
  margin-top: 13px;
}

.start, 
.destination {
  position: relative;
}

#commute-day, #start, #end {
  margin: 4px 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
}

.suggestions {
  position: absolute;
  left: 0;
  margin: -3px 0 0;
  padding: 0;
}

.suggestions li {
  width: 235px;
  height: auto;
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 10px 20px;
  /*transition: background 0.2s;*/
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:hover {
  background-color: #ece5e5;
  cursor: pointer;
}

.suggestions li.selected {
  background-color: #ece5e5;
}

.hl {
  background: #ffed4f;
}

span.population {
  font-size: 15px;
}

@media screen and (min-width: 768px) {

  .main-logo {
    margin: 20px 0;
    font-size: 3em;
  }
  
  .navbar-toggle {
    margin-top: 28px;
  }

  .navbar-header {
    height: 80px;
  }

  .navbar-form {
    clear: left;
    margin: 0 auto;
    width: 750px;
    padding-bottom: 12px;
    
  }

  .navbar-collapse {
    width: 100%;
    padding-right: 0;
  }

  #commute-day {
    margin: 0;
  }

  #commute-day {
    width: 100px
  }

  #start, #end {
    width: 235px;
  }

  #get-route, #get-route {
    margin: 0 0 0 12px;
  }

}

@media screen and (min-width: 1110px) {
  
  .navbar-form {
    width: 750px;
    padding-top: 25px;
    clear: none;
  }

  #get-route, #get-route {
    margin: 0 8px 0 20px;
  }

}
