
 html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(85, 132, 178); /* (54, 57, 87) */
}

.navbar-default {
  background-color: #c5c5c5;
}

.main-logo {
  font-size: 4em;
  margin: 20px 0;
  font-family: 'Ubuntu Mono';
}

.navbar-toggle {
  margin-top: 28px;
}

.navbar-form {
  margin-top: 35px;
}

#get-route {
  margin-left: 20px;
}

#map-canvas {
  height: 80%;
  width: 97%;
  max-width: 1350px;
  margin: 50px auto 20px;
}

#new-route {
  margin-left: 20px;
}
